h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-right: 189px;
    padding-left: 189px;
  }
}

.section {
  padding-bottom: 52px;
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 100px;
  }
}


/* *************************************** */

.more-photos__section {
  padding-top: 26px;
  padding-bottom: 26px;
}

.more-photos__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;

  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .more-photos__item--hidden {
    display: none;
  }

  .more-photos__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .more-photos__item:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .more-photos__title {
    margin-bottom: 32px;
  }

  .more-photos__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-top: -19px;
  }

  .more-photos__item {
    margin-left: 18px;
    margin-top: 19px;
   
    flex-basis: auto;
  }
 
}

@media screen and (min-width: 1440px) {
  .more-photos__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .more-photos__title {
    margin-bottom: 52px;
    max-width: 624px;
  }

  .more-photos__list {
    margin-left: -32px;
    margin-top: -32px;
  }

  .more-photos__item {
    margin-left: 32px;
    margin-top: 32px;
  }

/* ***************************************** */
.gellery {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.gellery li {
  margin-right: 10px;
}
